* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}



body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

/* -----------comienzo del header y el nav -----------*/

header {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

button{
    margin: 1px;    
    padding: 1rem;
    border: none;
    background-color: #c4f252;
    color: #79aa00;
    font-size: 20px;
    }

    .button1, .button1 a{
        background-color: #79aa00;
    }
    
    .button1:hover{
        color: #5D8300;
    }

.cont_logoYmenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.cont_logoYmenu a{
    width: 150px;
}

.menu {
    width: 50px;
    height: 50px;
}

/*------nav------*/

nav {
    font-size: 25px;
}

.nav_uno {  /*nav ---- menu del nav */ 
    display: none;
    
 }

.nav_dos {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    background-color: #c4f252;
}

a{
    margin: 3px 0px;  /* en vez de margin poner borde arriba y abajo */  
}

.inicio {
    color: #c4f252;
    text-decoration: none;
}


/* menu y animacion */
.menus{

color: #79aa00;

}


/*aqui comienza el main*/

.sec1 {
    background-color: #f8f9fa;
}

main section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contenido1 {
    width: 100%;
}

.contenido1_item1{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0px 0px;
    border-radius: 5px;
    padding-bottom: 15px;
}

.contenido1_item1 div{
    padding: 0px 5px;
}

.contenido1 p ~ a{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #27a46a;
    padding: 5px 0px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.contenido1 p ~ a:hover{
    box-shadow: 0px 0px 5px black;
}



.contenido1 p{
 margin-top: 15px;
}

.contenido1_item2 {
    margin: 0px auto ;
    margin-top: 15px;
    width: 90%;
}

.contenido1_item2 iframe {
    margin: 5px 0px;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.nav-item a{
    width: 100%;
}

.sec2 .contenido1_item1{
    border: none;
}

.sec2 {
    background-color: white;
}

.sec2 span{
    height: 100px;
}

.sec2 img{
    width: 100px;
}

.itemm2 h2{
    margin-top: 20px;
}


footer {
    background-color: #5D8300;
    height: 140px;
    box-shadow: 0px 0px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer img {
    width: 25px;
    margin-right: 5px;
}

footer a {
    text-decoration: none;
    color: black;
}




